.product:hover .product-hover {
    opacity: 1;
}

.product:hover img {
    transform: scale(1.2);
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #000;
}

/* .slick-current {
    border: 1px solid black;
} */

.slider_nav .slick-current {
    border: 1px solid black !important;
}
